version: '3.8'

services:
  db: 
    image: mysql:8.0.30-debian
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    networks:
      - app-network
    volumes:
      - ./.docker/mysql:/docker-entrypoint-initdb.d
    #   - ./.docker/dbbata:/var/lib/mysql
  app:
    build:
      context: .
      args:
        - DATABASE_URL=${DATABASE_URL}
    ports:
      - 3000:3000
    volumes:
      - .:/home/node/app
    networks:
      - app-network
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}



networks:
  app-network:
    driver: bridge